{% extends "base.html" %}
{% load static %}

{% block title %}
공모전
{% endblock title %}

{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic&display=swap');

    body {
        font-family: 'Jua', sans-serif;
    }

    .jumbotron {
        background-color: #94A9D8;
        color: white;
    }
</style>

{% endblock head%}

<body>
    {% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="jumbotron">
                <h1>공모전</h1>
                <h3># WE-UP데이 공드 공모전<br>
                    # 2021 전주시 빅데이터 분석 공모전<br>
                </h3>
            </div>

            <div>
                <div class="col-xs-5" style="border: 7px double #94A9D8; float:left; margin-left : 50px; height:800px;">
                    <h2><b>WE-UP데이 공드 공모전</b></h2>
                    <h4><span class="text-muted">▪️팀 명 : get on<br>
                            ▪️영상 제목 : 인생은 고진감래<br>
                            ▪️영상 길이 : 3분 45초<br>
                            <!--▪️영상 링크 : https://youtu.be/9c2sofPbe2w-->
                        </span> </h4>
                    <img class="img-rectangle" src="{% static '공드.png' %}" alt="공드사진" width="100%"> <br><br>
                </div>

                <div class="col-xs-5"
                    style="border: 7px double #94A9D8; float:right; margin-right : 50px; height : 800px;">
                    <h2><b>2021 전주시 빅데이터 분석 공모전</b></h2>
                    <h4><span class="text-muted">"데이터 분석을 통한 전주시 친환경 주차 공간 입지 분석 및 제안"</span></h4><br><br>

                    <img class="img-rectangle" src="{% static '전주시.png' %}" alt="전주시" width="100%"><br><br>
                </div>
            </div>

</div>
        </div>

        {% endblock content %}
</body>
