{% extends "base.html" %}
{% load static %}

{% block title %}
공모전
{% endblock title %}

{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic&display=swap');

    body {
        font-family: 'Jua', sans-serif;
    }

    .jumbotron {
        background-color: 94A9D8;
        color: white;
    }
</style>

{% endblock head%}

<body>
    {% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="jumbotron">
                <h1>공모전</h1>
                <h3># WE-UP데이 공드 공모전<br>
                    # 2021 전주시 빅데이터 분석 공모전<br>
                </h3>
            </div>


            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-xs-6">
                    <h2 class="featurette-heading">WE-UP데이 공드 공모전</h2>
                    <h3><span class="text-muted">2019.07 ~ 2020.03</span></h3>
                    <br>
                    <p class="text-muted" style="font-size: large;"> 유니세프 어린이지구촌체험관 및 홍보부스 운영 지원, 기타 대내외 행사지원 등
                    </p>
                    <br> <br>

                </div>
                <div class="col-xs-6">
                    <img class="img-rectangle"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="작품사진" width="100%">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-xs-6">
                    <img class="img-rectangle"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        alt="작품사진" width="100%">
                </div>
                <div class="col-xs-6" style="text-align: left;">
                    <h2 class="featurette-heading">2021 전주시 빅데이터 분석 공모전</h2>
                    <h3><span class="text-muted">주제 : 데이터 분석을 통한 전주시 친환경 주차 공간 입지 분석 및 제안</span></h3>
                    <p class="text-muted" style="font-size: large;"> 부스트코스 ‘모두를 위한 컴퓨터과학(CS50 2019)’을 매주 수강하고,
                        팀원과 함께 미션을 수행하며 코치의 섬세한 피드백과 현업 개발자의 라이브 강의를 시청하는 <br>언택트 스터디입니다.</p>
                </div>
            </div>
        </div>

    </div>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    {% endblock content %}
</body>
