{% extends "base.html" %}
{% load static %}

{% block title %}
교내활동
{% endblock title %}

{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic&display=swap');

    body {
        font-family: 'Jua', sans-serif;
    }

    .jumbotron {
        background-color: #94A9D8;
        color: white;
    }
</style>

{% endblock head%}

<body>
    {% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="jumbotron">
                <h1>교내활동</h1>
                <h3># 학생회 <br>
                    # 학과 소모임 <br>
                </h3>
            </div>

            <div>
                <div class="col-xs-5"
                    style="border: 7px double #94A9D8; float:left; margin-left : 50px; height : 450px;">
                    <h1>학생회</h1>
                    <h4>2017 성신여자대학교 컴퓨터공학과 1학년 학년 대표 (과대표)<br>
                        2018 성신여자대학교 컴퓨터공학과 학과 대표 (학생회장) </h4><br>
                    <img class="img-rectangle" src="{% static '학생회.jpg' %}" alt="학생회사진" width="100%"> <br><br>
                </div>

                <div class="col-xs-5"
                    style="border: 7px double #94A9D8; float:right; margin-right : 50px; height : 450px;">
                    <h1>학과 소모임</h1>
                    <h4>2017~2018 성신여자대학교 컴퓨터공학과 & 정보시스템공학과 소모임 COM (Computer operation mania) 18기 </h4><br>
                    <p>[주요 활동]<br>
                        - 매주 스터디로 다함께 코딩 실력 향상!<br>
                        - 짝선배/짝후배 제도로 선배들과 의사소통 가능! <br>- MT, 소풍 등 재밌고 다양한 친목 활동!</p>

                    <img class="img-rectangle" src="{% static '소모임.jpg' %}" alt="소모임사진" width="100%"><br><br>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
